<div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="twelve wide column">
                <h4 class="ui inverted header">MrafCommand @2020</h4>
                <div class="ui horizontal inverted small divided link list">
                    <a class="item" href="#">Site Map</a>
                    <a class="item" href="#">Terms and Conditions</a>
                    <a class="item" href="#">Privacy Policy</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">Media Social</h4>
                <div class="ui inverted link list">
                    <a href="https://www.instagram.com/mrafcommand/" class="item" target="_blank">Instagram</a>
                    <a href="https://open.spotify.com/show/5mKJ7XYoYsdWY3UjVxCCGE" class="item"
                        target="_blank">Spotify</a>
                    <a href="https://twitter.com/Mfaisalghozi" class="item" target="_blank">Youtube</a>
                    <a href="https://discord.gg/WemTJEr" class="item" target="_blank">Discord</a>
                </div>
            </div>
        </div>
    </div>
</div>