<!-- Following Menu -->
<div class="ui large top fixed hidden menu">
    <div class="ui container">
        <div class="item">
            <h2>MFG</h2>
        </div>
        <div class="right menu">
            <a class="active item">Home</a>
            <a class="item">Article</a>
            <a class="item">Podcast</a>
        </div>

    </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
    <a class="active item">Home</a>
    <a class="item">Article</a>
    <a class="item">Podcast</a>

</div>

<div class="pusher">
    <!-- BIG HEADER OR BANNER -->
    <div class="ui inverted vertical masthead center aligned segment">
        <div class="ui container ">
            <div class="ui large secondary inverted pointing menu">
                <div class="item">
                    <h2>MFG</h2>
                </div>
                <div class="right menu">
                    <a class="item" href="/">Home</a>
                    <a class="item" href="/article">Article</a>
                    <a class="item" href="/podcast">Podcast</a>
                </div>
            </div>
        </div>
        <div class="ui text container">
            <h1 class="ui inverted header">
                MrafCommand
            </h1>
            <h2>Coder. Gamer. Learner</h2>
        </div>
    </div>