<!doctype html>
<html lang="en">

<head>
    <title>MrafCommand HomePage</title>

    <!-- Semantic UI -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="./assets/style.css" type="text/css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Code for fixed Menu and Open Sidebar -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/visibility.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/sidebar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/transition.min.js"></script>

    <!-- Favicon Generator -->
    <link rel="apple-touch-icon" sizes="57x57" href="./assets/image/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./assets/image/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./assets/image/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./assets/image/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./assets/image/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./assets/image/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./assets/image/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/image/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="./assets/image/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/image/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./assets/image/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/image/favicon-16x16.png">
    <link rel="manifest" href="./assets/image/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="./assets/image/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

</head>

<body>
    <!-- Following Menu -->
    <div class="ui large top fixed hidden menu">
        <div class="ui container">
            <div class="item">
                <h2>MFG</h2>
            </div>
            <div class="right menu">
                <a class="active item">Home</a>
                <a class="item">Article</a>
                <a class="item">Podcast</a>
            </div>

        </div>
    </div>

    <!-- Sidebar Menu -->
    <div class="ui vertical inverted sidebar menu">
        <a class="active item">Home</a>
        <a class="item">Article</a>
        <a class="item">Podcast</a>

    </div>

    <div class="pusher">
        <!-- BIG HEADER OR BANNER -->
        <div class="ui inverted vertical masthead center aligned segment">

            <div class="ui container ">
                <div class="ui large secondary inverted pointing menu">
                    <div class="item">
                        <h2>MFG</h2>
                    </div>
                    <div class="right menu">
                        <a class=" active item" href="/">Home</a>
                        <a class="item" href="/article">Article</a>
                        <a class="item" href="/podcast">Podcast</a>
                    </div>
                </div>
            </div>
            <div class="ui text container">
                <h1 class="ui inverted header" style="margin-top: 2.3em;">
                    <h1 class="display-1">M Faisal Ghozi</h1>
                    <h4 class="display-5 mb-3">Full Stack Web Developer | Software Engineer</h4>
                </h1>
                <hr class="my-4">
                <h2>
                    <div class="row justify-content-center">
                        <div class="col-lg-4">
                            <div class="d-flex justify-content-between">
                                <a href="https://www.linkedin.com/in/faisal-g-a3122b136/" target="_blank"
                                    class="fa fa-linkedin-square" style="text-decoration: none;color: inherit;"></a>
                                <a href="https://github.com/mfaisalghozi" target="_blank" class="fa fa-github"
                                    style="text-decoration: none;color: inherit;"></a>
                                <a href="https://www.instagram.com/mfaisalghozi/" target="_blank"
                                    class="fa fa-instagram" style="text-decoration: none;color: inherit;"></a>
                                <a href="mailto:muhammad.ghozi@binus.ac.id" class="fa fa-envelope"
                                    style="text-decoration: none;color: inherit;"></a>
                            </div>
                        </div>
                    </div>
                </h2>
            </div>
        </div>

        <div class="ui vertical stripe segment">
            <div class="ui middle aligned stackable grid container">
                <div class="row">
                    <div class="eight wide column">
                        <h3 class="ui header text-center">Who Am I ?</h3>
                        <p>
                            Hello, I'm MrafCommand A.K.A Muhammad Faisal Ghozi, Currently Studying at Bina Nusantara
                            University.
                            Majoring on Computer Science, i've always love everything about Technology, Engineering, and
                            also Gaming since i was a kid. I also self-proclaimed my self as avid reader ,because i
                            read a
                            lot of book and i really enjoyed it, especially book with the genre self-improvment,
                            Science, Philosophy,
                            And
                            Financial.
                        </p>
                        <p>
                            I'm always curiosity about everything, including the question like "where we come from ? ",
                            "how did we get here ?", that's why im having interest in philosophy to understanding more
                            about exstentialism, and im also having interest in Space Exploration, to understanding more
                            we need to look beyond our universe, so i look at the sky.
                        </p>
                        <p>My Biggest goal is to contribute in a scope of humanity, this is my ultimate goal as a human
                            being, i got this idea from my role model which is Elon Musk. With technology i hope i can
                            contribute to any field using technology and my knowledge to make
                            anyone life better.
                        </p>
                        <h4 class="text-center mt-5"><strong>
                                <i>"To Live, Love ,and Laugh"</i>
                            </strong></h4>
                    </div>
                    <div class="six wide right floated column">
                        <img src="./assets/image/space-vibe.jpg" class="ui large bordered rounded image">
                    </div>
                </div>
                <div class="row">
                    <div class="center aligned column">
                        <a href="#C1" class="ui huge button mt-5">Contact Me</a>
                    </div>
                </div>
            </div>
        </div>


        <!-- MAKING THIS SLIDESHOW FOR PRESENTING FINISHING PROJECT -->
        <!-- PROBLEM : slideshow not accurate, the icon move up and down depend the size of 
        the image -->
        <div class="ui vertical stripe quote segment">
            <div class="ui equal width stackable internally celled grid">
                <div class="center aligned row">
                    <div class="column slideshow">
                        <h3 class="mb-4">Project List</h3>
                        <div class="container">
                            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active shadow-lg p-3 mb-5 bg-white rounded">
                                        <img class="d-block w-100 h-100" src="./assets/image/falcon_website_v1.png"
                                            alt="First slide" style="height: 624px;">
                                    </div>
                                    <div class="carousel-item shadow-lg p-3 mb-5 bg-white rounded">
                                        <img class="d-block w-100"
                                            src="./assets/image/gentium-designer-website-template.jpg" alt="Second side"
                                            style="height: 624px;">
                                    </div>
                                    <div class="carousel-item shadow-lg p-3 mb-5 bg-white rounded">
                                        <img class="d-block w-100" src="./assets/image/restaurant-website-design-1.png"
                                            alt="Third slide" style=" height: 624px;">
                                    </div>
                                    <div class="carousel-item shadow-lg p-3 mb-5 bg-white rounded">
                                        <img src="./assets/image/webProg_Project.jpg" alt="Fourth slide"
                                            class="d-block w-100" style=" height: 624px;">
                                    </div>
                                    <div class="carousel-item shadow-lg p-3 mb-5 bg-white rounded">
                                        <img src="./assets/image/warungIde_Hackathon.jpg" alt="Fourth slide"
                                            class="d-block w-100" style=" height: 624px;">
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                                    data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                                    data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="ui vertical stripe segment">
            <div class="ui text container">

                <h4 class="ui horizontal header divider">
                    <a href="#">Gaming Discussion</a>
                </h4>

                <h3 class="ui header">#GamingTalksWithMraf</h3>
                <p>Sebuah list article yang akan ngebahas segala hal tentang game, mulai dari mekanik game itu sendiri
                    hingga membahas
                    Perkembangan industry gamenya. Dan akan ada beberapa review dari game-game yang akan gua mainin
                    juga.</p>
                <a class="ui large button" href="/article">Read More</a>

                <h4 class="ui horizontal header divider">
                    <a href="#">Other Stuff</a>
                </h4>

                <h3 class="ui header">#SocialChangeWithMraf</h3>
                <p>Social Change with mraf merupakan list artikel dari MrafCommand yang ditulis berdasarkan pengalaman
                    pribadi maupun pengetahuan dari buku, journal,dllnya.
                    Kategory ini mencakup lingkung Filsafat, Society, Culture, dan Civilization. Dengan pembahasan yang
                    cukup deep, menarik , dan tentunya akan ngebuat lo semakin penasaran
                    akan segala hal.
                </p>
                <a class="ui large button" href="/article">Read More</a>
            </div>
        </div>

        <div id="C1">
            <%- include("partials/footer") %>
        </div>
    </div>
    </div>





    <!-- Optional JavaScript -->
    <!-- Semantic.JS -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>