<!doctype html>
<html lang="en">

<head>
    <title>mfaisalghozi website</title>
    <!-- Semantic UI -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="style.css">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Code for fixed Menu and Open Sidebar -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/visibility.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/sidebar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/transition.min.js"></script>
    <script>
        $(document)
            .ready(function () {

                // fix menu when passed
                $('.masthead')
                    .visibility({
                        once: false,
                        onBottomPassed: function () {
                            $('.fixed.menu').transition('fade in');
                        },
                        onBottomPassedReverse: function () {
                            $('.fixed.menu').transition('fade out');
                        }
                    });

                // create sidebar and attach to menu open
                $('.ui.sidebar')
                    .sidebar('attach events', '.toc.item');

            });
    </script>
    <style>
        .ui.inverted.masthead.segment {
            background-image: url('image/banner-YT.png');
            background-position: bottom;
            background-repeat: no-repeat;
        }

        .masthead h2.ui.header {
            margin-top: 3em;
            margin-bottom: 0em;
            font-size: 4em;
            font-weight: normal;
        }

        .masthead h2 {
            font-size: 1.7em;
            font-weight: normal;
        }
    </style>
</head>

<body>
    <!-- Following Menu -->
    <div class="ui large top fixed hidden menu">
        <div class="ui container">
            <div class="item">
                <h2>MFG</h2>
            </div>
            <div class="right menu">
                <a class="item">Home</a>
                <a class="active item">Article</a>
                <a class="item">Podcast</a>
            </div>

        </div>
    </div>

    <!-- Sidebar Menu -->
    <div class="ui vertical inverted sidebar menu">
        <a class="item">Home</a>
        <a class="active item">Article</a>
        <a class="item">Podcast</a>

    </div>

    <div class="pusher">
        <!-- BIG HEADER OR BANNER -->
        <div class="ui inverted vertical masthead center aligned segment">
            <div class="ui container ">
                <div class="ui large secondary inverted pointing menu">
                    <div class="item">
                        <h2>MFG</h2>
                    </div>
                    <div class="right menu">
                        <a class="item" href="home.html">Home</a>
                        <a class="active item" href="blog.html">Article</a>
                        <a class="item" href="podcast.html">Podcast</a>
                    </div>
                </div>
            </div>
            <div class="ui text container">
                <h2 class="ui inverted header">
                    Blog of MrafCommand
                </h2>
            </div>
        </div>

        <div class="ui hidden divider"></div>
        <div class="container">
            <div class="row my-5">
                <div class="col-lg-4">
                    <div class="card mb-5" style="height: 410px;">
                        <img class=" card-img-top"
                            src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/andromeda-galaxy-royalty-free-image-1585682435.jpg"
                            alt="Card image cap" style="height: 190px;">
                        <div class="card-body mx-auto">
                            <h5 class="card-title">What We Can Learn From Space !!</h5>
                            <h6 class="card-subtitle mb-2 text-muted">17 July 2020</h6>
                            <p class="card-text">Yes I know you probably disregarded the earlier boasts as
                                non-sequitur filler content, but its really
                                true....</p>
                            <a href="blog-detail.html" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card mb-3" style="height: 410px;">
                        <img class=" card-img-top"
                            src="https://static.bangkokpost.com/media/content/dcx/2020/01/15/3488069.jpg"
                            alt="Card image cap" style="height: 190px;">
                        <div class="card-body mx-auto">
                            <h5 class="card-title">How To Become Pro In Valorant</h5>
                            <h6 class="card-subtitle mb-2 text-muted">17 July 2020</h6>
                            <p class="card-text">Yes I know you probably disregarded the earlier boasts as
                                non-sequitur filler content, but its really
                                true....</p>
                            <a href="#" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card mb-3" style="height: 410px;">
                        <img class=" card-img-top"
                            src="https://cdn.britannica.com/44/22944-050-20DB2F82/Plato-Aristotle-philosophers-detail-Raphael-School-of.jpg"
                            alt="Card image cap" style="height: 190px;">
                        <div class="card-body mx-auto">
                            <h5 class="card-title">What Acient Greek Tried To Told Us ?</h5>
                            <h6 class="card-subtitle mb-2 text-muted">17 July 2020</h6>
                            <p class="card-text">Yes I know you probably disregarded the earlier boasts as
                                non-sequitur filler content, but its really
                                true....</p>
                            <a href="#" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card mb-3" style="height: 410px;">
                        <img class=" card-img-top"
                            src="https://www.themonsterlab.com/wp-content/uploads/2020/07/2.-Cara-Chat-All-Di-Valorant-Dan-Tips-Menarik-Terbaru.png"
                            alt="Card image cap" style="height: 190px;">
                        <div class="card-body mx-auto">
                            <h5 class="card-title">How To Become Pro In Valorant</h5>
                            <h6 class="card-subtitle mb-2 text-muted">17 July 2020</h6>
                            <p class="card-text">Yes I know you probably disregarded the earlier boasts as
                                non-sequitur filler content, but its really
                                true....</p>
                            <a href="#" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card mb-3" style="height: 410px;">
                        <img class=" card-img-top"
                            src="https://cdn.vox-cdn.com/thumbor/HCjgqG4PpB7EW6QIF8xmH3D9QNM=/0x16:878x476/fit-in/1200x630/cdn.vox-cdn.com/uploads/chorus_asset/file/19754183/Screen_Shot_2020_02_28_at_9.36.56_AM.png"
                            alt="Card image cap" style="height: 190px;">
                        <div class="card-body mx-auto">
                            <h5 class="card-title">Be Good Programmer</h5>
                            <h6 class="card-subtitle mb-2 text-muted">17 July 2020</h6>
                            <p class="card-text">Yes I know you probably disregarded the earlier boasts as
                                non-sequitur filler content, but its really
                                true....</p>
                            <a href="#" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card mb-3" style="height: 410px;">
                        <img class=" card-img-top"
                            src="https://i.pinimg.com/originals/f0/b2/6b/f0b26b56eefd7ed7b3e2300fb069c4f1.jpg"
                            alt="Card image cap" style="height: 190px;">
                        <div class="card-body mx-auto">
                            <h5 class="card-title">How To Become Avid Reader</h5>
                            <h6 class="card-subtitle mb-2 text-muted">17 July 2020</h6>
                            <p class="card-text">Yes I know you probably disregarded the earlier boasts as
                                non-sequitur filler content, but its really
                                true....</p>
                            <a href="#" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card mb-3" style="height: 410px;">
                        <img class=" card-img-top"
                            src="https://cdn.eventfinda.co.nz/uploads/events/transformed/1322960-587318-14.jpg"
                            alt="Card image cap" style="height: 190px;">
                        <div class="card-body mx-auto">
                            <h5 class="card-title">Is Human really come from monkey ?</h5>
                            <h6 class="card-subtitle mb-2 text-muted">17 July 2020</h6>
                            <p class="card-text">Yes I know you probably disregarded the earlier boasts as
                                non-sequitur filler content, but its really
                                true....</p>
                            <a href="#" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="ui inverted vertical footer segment">
            <div class="ui container">
                <div class="ui stackable inverted divided equal height stackable grid">
                    <div class="twelve wide column">
                        <h4 class="ui inverted header">MrafCommand @2020</h4>
                        <p>Modified by MrafCommand Using Semantic UI, Bootstrap 4.</p>
                    </div>
                    <div class="three wide column">
                        <h4 class="ui inverted header">Media Social</h4>
                        <div class="ui inverted link list">
                            <a href="#" class="item">Instagram</a>
                            <a href="#" class="item">Facebook</a>
                            <a href="#" class="item">Twitter</a>
                            <a href="#" class="item">SnapChat</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    </div>





    <!-- Optional JavaScript -->
    <!-- Semantic.JS -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>